<div class="modal fade" id="genericModal" tabindex="-1" aria-hidden="true" data-controller="modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" data-modal-target="title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" data-modal-target="message"></div>
        <div id="transfer-section" style="display: none;">
          <input type="hidden" id="transfer-item-id" value="">
          <label for="player-select" class="form-label">Choisissez un équipier :</label>
          <select id="player-select" class="form-control">
            <!-- Options dynamiques -->
          </select>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" data-modal-target="confirmButton">Confirmer</button>
      </div>
    </div>
  </div>
</div>