<turbo-frame id="user_<%= user.id %>_echani_shield_frame">
  <p class="mt-1 mb-0" style="font-size: 0.8em;" data-shield-target="shieldCurrent" data-shield-current="<%= user.echani_shield_current %>">
    Echani <%= user.echani_shield_current %> / <%= user.echani_shield_max %>
  </p>
</turbo-frame>