<turbo-frame id="user_<%= user.id %>_echani_shield_frame">
  <p class="mt-1 mb-0" style="1.0em" data-shield-target="shieldCurrent">
    Bouclier Échani <%= user.echani_shield_current %> / <%= user.echani_shield_max %>
  </p>
</turbo-frame>