<turbo-frame id="user_<%= user.id %>_energy_shield_frame">
  <p class="mt-1 mb-0" style="font-size: 0.9em;" data-shield-target="shieldCurrent" data-shield-current="<%= user.shield_current %>">
    Bouclier d'énergie <%= user.shield_current %> / <%= user.shield_max %>
  </p>
</turbo-frame>