<turbo-frame id="user_<%= user.id %>_energy_shield_frame">
  <p class="mt-1 mb-0" data-shield-target="shieldCurrent">
    Bouclier d'énergie <%= user.shield_current %> / <%= user.shield_max %>
  </p>
</turbo-frame>