<div class="rules-summary mt-3">
  <h2 style="margin-left: 20vw;">Sommaire</h2>
  <ul>
    <li><a href="#chapitre-1-creation-de-perso">Chapitre 1 – Création de perso</a>
      <ul>
        <li><a href="#section-1-choisir-la-classe">Section 1 – Choisir la classe</a>
          <ul>
            <li><a href="#les-jedi">1. Les Jedi (Gardien, Consulaire, Sentinelle)</a></li>
            <li><a href="#les-chasseurs-de-primes">2. Les Chasseurs de primes (Pisteur, Techno-chasseur, Assassin)</a></li>
            <li><a href="#les-pilotes">3. Les Pilotes (Contrebandier, Mécano-Pilote, Officier Pilote)</a></li>
            <li><a href="#les-techniciens">4. Les Techniciens (Fabricant, Ingénieur, Bio-savant)</a></li>
            <li><a href="#les-mercenaires">5. Les Mercenaires (Lutteur, Artilleur, Démineur)</a></li>
            <li><a href="#les-leaders">6. Les Leaders (Sénateur, Amiral)</a></li>
            <li><a href="#la-mascotte">7. La Mascotte</a></li>
            <li><a href="#lautodidacte">8. L’Autodidacte</a></li>
          </ul>
        </li>
        <li><a href="#section-2-choisir-la-race">Section 2 – Choisir la race</a></li>
        <li><a href="#section-3-repartir-les-points-de-caracteristiques">Section 3 – Répartir les points de caractéristiques</a></li>
        <li><a href="#section-4-pv-et-resistance-corporelle">Section 4 – PV et Résistance corporelle</a></li>
      </ul>
    </li>
    <li><a href="#chapitre-2-la-fiche-de-perso">Chapitre 2 – La fiche de perso</a>
      <ul>
        <li><a href="#section-1-le-recto">Section 1 – Le recto</a>
          <ul>
            <li><a href="#informations-personnelles-generales">1 – Informations personnelles générales</a></li>
            <li><a href="#linventaire">2 – L’inventaire</a></li>
            <li><a href="#caracteristiques-et-competences">3 – Caractéristiques et compétences</a>
              <ul>
                <li><a href="#definition-des-caracteristiques">Définition des caractéristiques</a></li>
                <li><a href="#gestion-des-points-de-vie">Gestion des points de vie (PV) et de la résistance corporelle (Res Corp).</a></li>
                <li><a href="#fonctionnement-des-competences">Fonctionnement des compétences</a></li>
                <li><a href="#competences-en-savoir-sav">Compétences en Savoir (SAV)</a></li>
                <li><a href="#competences-en-dexterite-dex">Compétences en Dextérité (DEX)</a></li>
                <li><a href="#competences-en-perception-perc">Compétences en Perception (PERC)</a></li>
                <li><a href="#competences-en-technique-tech">Compétences en Technique (TECH)</a></li>
                <li><a href="#competences-en-vigueur-vig">Compétences en Vigueur (VIG)</a></li>
                <li><a href="#competences-en-mecanique-mec">Compétences en Mécanique (MEC)</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#section-2-le-verso">Section 2 – Le verso</a></li>
      </ul>
    </li>
    <li><a href="#chapitre-3-les-regles-du-combat-au-sol">Chapitre 3 – Les règles du combat au sol</a>
      <ul>
        <li><a href="#lengagement-et-le-jet-de-vitesse">1. L'engagement et le jet de vitesse</a></li>
        <li><a href="#le-deroulement-du-tour-dun-joueur">2. Le déroulement du tour d'un joueur</a></li>
        <li><a href="#les-degats-et-dd">3. Les dégâts et DD</a></li>
        <li><a href="#degats-de-zone-et-degats-en-cone">4. Dégâts de zone et dégâts en cône</a></li>
        <li><a href="#la-parade">5. La parade</a></li>
        <li><a href="#les-sequelles">6. Les séquelles</a></li>
        <li><a href="#le-malus-de-distance">7. Le malus de distance</a></li>
        <li><a href="#utilisation-des-dons">8. Utilisation des dons</a></li>
        <li><a href="#utilisation-des-pouvoirs-jedi">9. Utilisation des pouvoirs Jedi</a></li>
        <li><a href="#utilisation-dun-medipack">10. Utilisation d'un medipack</a></li>
        <li><a href="#les-attaques-dopportunite">11. Les attaques d'opportunité</a></li>
        <li><a href="#lattaque-surprise">12. L'attaque surprise</a></li>
        <li><a href="#lattaque-a-deux-armes">13. L'attaque à deux armes</a></li>
        <li><a href="#les-differents-statuts-en-combat">14. Les différents statuts en combat</a></li>
        <li><a href="#la-couverture">15. La couverture</a></li>
        <li><a href="#mode-discretion">16. Mode discrétion</a></li>
        <li><a href="#mode-pose">17. Mode posé</a></li>
        <li><a href="#mode-defensif">18. Mode défensif</a></li>
        <li><a href="#les-differents-types-de-degats">19. Les différents types de dégâts</a></li>
        <li><a href="#batailles-balles-perdues-et-tirs-allies">20. Batailles, balles perdues et tirs alliés</a></li>
        <li><a href="#la-fuite">21. La fuite</a></li>
        <li><a href="#la-mort-le-baroud-dhonneur-et-le-wipe">22. La mort, le baroud d'honneur et le wipe</a></li>
      </ul>
    </li>
    <li><a href="#chapitre-4-les-regles-en-combat-spatial">Chapitre 4 – Les règles en combat spatial</a>
      <ul>
        <li><a href="#lengagement-et-le-jet-de-pilotage">1. L’engagement et le jet de pilotage</a></li>
        <li><a href="#deroulement-du-tour-du-pilote">2. Déroulement du tour du pilote</a></li>
        <li><a href="#le-positionnement-du-vaisseau">3. Le positionnement du vaisseau</a></li>
        <li><a href="#reparation-du-vaisseau">4. Réparation du vaisseau</a></li>
        <li><a href="#mode-furtif">5. Mode furtif</a></li>
        <li><a href="#les-coups-decisifs">6. Les coups décisifs</a></li>
        <li><a href="#les-statuts-du-vaisseau">7. Les statuts du vaisseau</a></li>
        <li><a href="#la-fuite-et-le-passage-en-hyperespace">8. La fuite et le passage en hyperespace</a></li>
        <li><a href="#le-commandement-de-vaisseau-mere">9. Le commandement de vaisseau-mère</a></li>
      </ul>
    </li>
  </ul>
</div>