<turbo-frame id="user_<%= user.id %>_status_frame">
  <div class="status-container">
    <% user.statuses.each do |status| %>
      <p style="color: <%= status.color %>; font-size: 0.9em;"><%= status.name %></p>
    <% end %>
  </div>
</turbo-frame>