<div class="frame-container" style="position: relative; width: 100vw; height: 100vh; overflow-y: auto; overflow-x: hidden;" data-controller="rules">
  <h1 class="mt-1" style="margin-left: 5vw;">Règles du jeu</h1>

  <%= render partial: "rules_summary" %>

  <div class="rules-content">
    <!-- Contenu des règles Markdown converti en HTML -->
    <%= raw @rules_content %>
  </div>

  <!-- Bouton fixe pour revenir en haut -->
  <button id="scroll-to-top" class="btn btn-primary" data-rules-target="button" style="display: none; position: fixed; top: 20px; right: 20px; z-index: 1000;">
    Sommaire
  </button>

  <%= link_to "Retour", current_user.group.name == "MJ" ? mj_dashboard_path : root_path, class: "btn btn-outline-secondary go-back-two" %>
</div>