<turbo-frame id="user_<%= unread_count[:user_id] %>_holonews_counter">
  <% if unread_count[:count].to_i > 0 %>
    <span class="holonews-count">
      <span class="badge rounded-pill bg-danger position-absolute">
        <%= unread_count[:count].to_i %>
      </span>
    </span>
  <% else %>
    <span class="holonews-count d-none"></span>
  <% end %>
</turbo-frame>