<div class="star-wars-binoculars">
  <div class="viewport"></div>
  <div aria-hidden="true" class="tracking"></div>
  <div aria-hidden="true" class="also-tracking"></div>
  <div aria-hidden="true" class="center-details"></div>
  <div aria-hidden="true" class="outline" data-augmented-ui></div>
  <div aria-hidden="true" class="boundary-blackout" data-augmented-ui></div>
  <%= link_to "Retour", headquarter_path, class: "btn btn-outline-secondary" %>
</div>