// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

// Your CSS partials
@import "components/index";
@import "pages/index";

h1 {
  color: $success;
}

p {
  color: $success;
}

span {
  color: white;
}

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#background {
  background-image: url(asset-path('background.png'));
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.frame-container {
  position: relative;
  width: 100vw;  /* 100% de la largeur de l'écran */
  height: 100vh; /* 100% de la hauteur de l'écran */
  overflow: hidden;
}

/* ------------- HOME -------------- */

.ui-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: 0;
}

.race {
  position: absolute;
  top: 91%;
  left: 20%;
  z-index: 2;
  padding: 1;
}

.classe {
  position: absolute;
  top: 91%;
  left: 65%;
  z-index: 2;
  padding: 1;
}

.credits-container {
  position: absolute;
  top: 50%;   /* Centre verticalement par rapport au cadre */
  left: 50%;  /* Centre horizontalement par rapport au cadre */
  transform: translate(-60%, -50%); /* Corrige le positionnement pour un vrai centrage */
  z-index: 2;
}

.screen-background {
  position: relative;
  width: 90%; /* S'adapte à la taille de credits-container */
  height: auto; /* Conserve le ratio de l'image */
  max-width: 300px; /* Optionnel : limite la taille maximale du screen */
  z-index: 1;
}

.credits-text {
  position: absolute;
  top: 30%;   /* Centre verticalement par rapport au screen */
  left: 50%;  /* Centre horizontalement par rapport au screen */
  transform: translateX(-50%);
  z-index: 2;
  font-size: 1.1rem; /* Ajuste la taille selon tes besoins */
  color: #00ffcc; /* Ajuste la couleur */
}

.xp-container {
  position: absolute;
  top: 60%;   /* Centre verticalement par rapport au screen */
  left: 50%;
  z-index: 2;
}

/* Élément à gauche du screen (function.svg) */
.ui-function {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  width: 80px;
  z-index: 2;
}

/* Élément à droite du screen (target.svg) */
/* .ui-target {
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
  width: 80px;
  z-index: 2;
} */

.shield {
  position: absolute;
  top: 50%;
  right: 25%;
  transform: translateY(-50%);
  z-index: 3;
}

.shield-icon {
  width: 80px;
}

/* Style pour le bouclier inactif */
.shield-icon i {
  color: #00008B; /* Bleu foncé pour inactif */
  font-size: 3rem;
  transition: all 0.3s ease;
}

/* Style pour le bouclier actif */
.fa-shield.active {
  color: #00BFFF !important; /* Couleur bleu clair pétant pour actif */
  text-shadow: 0px 0px 15px #00BFFF !important; /* Effet de flou */
}

.echani-shield {
  position: absolute;
  top: 50%;
  right: 12%;
  transform: translateY(-50%);
  z-index: 3;
}

.echani-shield-icon {
  width: 80px;
}

/* Style pour le bouclier inactif */
.echani-shield-icon i {
  color: #815f03; /* Bleu foncé pour inactif */
  font-size: 3rem;
  transition: all 0.3s ease;
}

/* Style pour le bouclier actif */
.echani-shield .fa-shield.active {
  color: #d9aa01 !important; /* Couleur bleu clair pétant pour actif */
  text-shadow: 0px 0px 15px #d9aa01 !important; /* Effet de flou */
}

/* Barre en haut à droite (top-bar.svg) */
.ui-top-bar {
  position: absolute;
  top: 14%;
  right: 10%;
  width: 300px;
  z-index: 2;
}

/* Barre en bas à gauche (bottom-bar.svg) 
.ui-bottom-bar {
  position: absolute;
  bottom: 15%;
  left: 10%;
  width: 300px;
  z-index: 2;
} */

.status-container {
  position: absolute;
  bottom: 20%;
  left: 13%;
  width: 300px;
  height: auto;
  z-index: 3;
}

.hp-bar-container {
  position: absolute;
  bottom: 25%;
  left: 10%;
  width: 300px;
  height: auto;
  z-index: 2;
}

.hp-bar-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2;
}

.hp-bar-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 3;
}

.hp-fill {
  transition: width 0.3s ease;
  width: 0%;
}

.hp-text-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.hp-text {
  position: absolute;
  top: 10px;
  left: 50px;
  font-size: 15px;
  color: white;
  font-weight: bold;
  pointer-events: none;
}

.transfer-btn {
  top: 75%;
  left: 58%;
  position: absolute;
  width: 30vw;
  font-size: smaller;
  z-index: 3;
}

.holonews-btn {
  top: 15%;
  left: 12%;
  position: absolute;
  width: 30vw;
  font-size: smaller;
  z-index: 3;
}

.username-display {
  position: absolute;
  top: 0%; /* Ajuste cette valeur pour le placer légèrement en bas du haut de l'écran */
  left: 50%; /* Place au milieu horizontalement */
  transform: translateX(-50%); /* Centre le texte horizontalement */
  font-size: 1.5rem; /* Ajuste la taille selon tes besoins */
  font-weight: bold;
  color: #00ffcc; /* Ajuste la couleur */
  z-index: 3; /* Assure que le texte est au-dessus du cadre */
}

.xp-notification {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  animation: fadeOut 3s ease forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

/* ------------- Autres pages -------------- */

.go-back {
  position: absolute;
  top: 15%;
  left: 10%;
  z-index: 3;
}

.go-create {
  position: absolute;
  top: 15%;
  left: 80%;
  z-index: 3;
}

.select-destinataire {
  font-size: 1.2rem;    /* Agrandir la police */
  padding: 10px;        /* Ajouter du padding pour améliorer l'affichage */
  z-index: 5;           /* Assurer que le menu déroulant est bien visible */
  position: relative;   /* S'assurer qu'il n'est pas affecté par le positionnement absolu des autres éléments */
}

.select-destinataire option {
  font-size: 1.2rem;
  color: #00ffcc;
  background-color: #1a1a1a;
}

.form-group {
  margin-bottom: 1rem;
}

input[type="submit"] {
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 5px;
}

.form-group, select, input {
  z-index: 4;
}

.custom-form {
  position: relative;
  margin: 10%;
  width: 90%;
  max-height: 60vh;
  max-width: 80vw;
  overflow-y: auto;
  padding: 20px;
  background-color: #000;
  border: 2px solid $success;
  border-radius: 8px;
  z-index: 3;
}

.custom-form input, .custom-form select {
  background-color: #1a1a1a;
  border: 1px solid $success;
  color: #00ffcc;
}

.custom-form label {
  color: $success;
}

.custom-form input, .custom-form textarea {
  background-color: #1a1a1a;
  border: 1px solid $success;
  color: #00ffcc;
}

.custom-form textarea {
  height: 100px;
}

.custom-form select {
  background-color: #1a1a1a !important;
  border: 1px solid $success;
  color: #00ffcc;
}

.custom-form select option {
  background-color: #1a1a1a;
  color: #00ffcc;
}

.form-control {
  color: #00ff00;
  background-color: #1a1a1a;
}

.form-check-label {
  color: $success;
}

.holonew-item {
  position: relative;
  background-color: #1a1a1a !important;
  border: 1px solid $success;
  color: #00ffcc;
}

.holonews-list-container {
  margin-top: 19%;
}

.mj-container {
  position: absolute;
  top: 50%;   /* Centre verticalement */
  left: 50%;  /* Centre horizontalement */
  transform: translate(-50%, -50%); /* Corrige le positionnement pour un vrai centrage */
  z-index: 3;
}

.mj-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mj-actions .btn {
  width: 200px; 
  margin-bottom: 15px;
}

.player-damage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.player-damage p {
  font-size: 1.0rem;
  color: #00ffcc;
  flex-grow: 1;
}

.custom-input-group {
  max-width: 150px;
  display: flex;
}

.custom-damage-input {
  text-align: center;
  width: 60px;
  padding: 0.2rem;
}

#container-damage {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 2px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

/* Page de gestion des PV */

.health-management-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.large-hp-bar-container {
  position: absolute;
  top: 20%;
  width: 500px;
  height: auto;
  z-index: 2;
  margin-bottom: 20px;
}

.large-hp-bar-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

.hp-bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.large-hp-bar-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 3;
}

.large-hp-text {
  position: absolute;
  top: 20px;
  left: 15%;
  font-size: 22px;
  color: white;
  font-weight: bold;
  pointer-events: none;
  z-index: 3;
}

.hp-adjustment-section {
  display: flex;
  align-items: center;
  width: 50vw;
  margin-top: 35vh;
  text-align: center;
}

.hp-adjustment-section p {
  margin-right: 10px;
  font-size: 1.2rem;
  margin-top: 12px;
}

.buy-hp-section {
  align-items: center;
  width: 80vw;
  text-align: center;
  z-index: 3;
}

.buy-hp-section p {
  margin-top: 10px;
  margin-right: 10px;;
}

#xp-cost {
  font-weight: bold;
  color: #ff0000;
}

.current-xp {
  font-weight: bold;
  color: #00ffcc;
}

.settings-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 17%;
  left: 10%;
  width: 600px;
  height: auto;
  z-index: 2;
}

#fixer-statuts-container .fixer-statuts-select {
  width: 120px;
  display: inline-block;
}

#fixer-statuts-container .fixer-statuts-select:focus {
  outline: none;
  box-shadow: none;
}

#fixer-statuts-container .fixer-statuts-select option {
  background-color: #1a1a1a;
  color: #00FF00;
  font-size: 1.5rem;
}

.heal-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 17%;
  left: 10%;
  width: 600px;
  height: auto;
  z-index: 2;
}

#healModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.modal-backdrop {
  z-index: auto !important; /* Remplace la valeur par défaut de Bootstrap */
}